# Python cache files
__pycache__/
.mypy_cache/

# Binary files
*.xopp
*.pdf

# ignore the current semester, since it will frequently change
school/courses

# also ignore private config
private_config.py
